body {
    font-family: 'Raleway', sans-serif;
    background: #F5F5F5;
    width: 100%;
    height: 5020px;
    color: #464646
}

.caixa {
    width: 1136px;
    height: 88px;
    font-size: 1.1em;
    margin: 0 auto;
    position: relative /*para levantar este elemento para conter os elementos internos*/
}

.logo {
    position: absolute;
    top: 32px;
    left: 0;
    width: 400px;
    height: 32px;
    font-weight: bold;
}

.logo img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 5px;
}

.logo h1 {
    position: absolute;
    left: 29px;
    top: 7px;
    font-size: 1em;
}

nav {
    position: absolute;
    bottom: 32px;
    right: 0px;
}

nav a {
    text-decoration: none;
    font-size: 1em;
    color: #464646;
}

nav a:hover {
    color: #ffbf00;
}

nav li {
    display: inline;
    margin: 1px 5px;
}

.saudacao{
    position: relative;
    width: 1136px;
    height: 368px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.saudacao-descritivo {
    position: absolute;
    width: 700px;
    height: 246px;
    left: 0px;
    top: 50px;
}

.saudacao h2 {
    font-weight: bolder;
    font-size: 42px;
    margin-bottom: 24px;
}

.saudacao h3 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 50px;
}

.saudacao li {
    display: inline;
    margin-right: 5px;
}

.saudacao ul a {
    text-decoration: none;
    font-size: 1.2em;
    color: #464646;
    margin-right: 60px;
}

.saudacao a:hover {
    color: #ffbf00;
}

.saudacao ul img {
    width: 20px;
    margin-right: 5px;
}

.saudacao-foto{
    width: 368px;
    height: 368px;
    border-radius: 50%;
    position: absolute;
    right: 0px
}
