body {
    font-family: 'Raleway', sans-serif;
    width: 1440px;
    height: 5020px;
    background: #F5F5F5;
    justify-content: center;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 88px;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 455px;
    height: 24px;
    left: 0px;
    top: 32px;
}

.logo h1 {
    left: 10px;
    top: 2.5px;

    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #464646;
    order: 1;
    margin: 0px 8px;
}

nav {
    width: 542px;
    height: 24px;

}

nav a {
    text-decoration: none;
    font-size: 1em;
    color: #464646;
}

nav a:hover {
    color: #ffbf00;
}


.links li {
    display: inline;
    width: 5%;
    margin-left: 20px;
}
